/* SkillTag.css */
.skill-tag {
    position: absolute;
    padding: 10px;
    border: 2px solid #6c63ff; 
    border-radius: 50px; 
    color: #6c63ff;
    font-weight: bold;
    transition: transform 0.3s ease;
    
  }
  
  .skill-tag:hover {
    transform: scale(1.1); 
  }
  
  .skill-tag.left {
    top: 30%;
    left: 25%;
  }
  
  .skill-tag.right {
    top: 30%; 
    right: 25%;
  }
  

  @media (max-width: 768px) {
    .skill-tag {
      position: static; 
      margin: 10px auto; 
      display: none;
    }
  }
  